*{
    box-sizing: border-box;
    margin: 0;
}

.cadastrar{
    display: flex;
    flex-direction: row;

    .info-cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .fundo-cadastro{
        display: flex;
        flex-direction: row;
        padding-top: 5em;
    }

    .info-cadastro p{
        font-family: 'medio';
    }

    .col-dois{
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
    }

    .div-col-dois{
        margin-left: 1em;
    }

    select{
        width: 10em;
        height: 2.3em;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        opacity: 70%;
        margin-top: .5em;
    }

    .fundo-imagem{
        display: flex;
        align-items: center;
        background-color: #D9D9D9;
        opacity: 80%;
        height: 15em;
        margin-top: 2em;
    }

    .fundo-imagem img{
        padding: 3em;
        opacity: 45%;
        width: 15em;
    }

    .fundo-info{
        margin-left: 3em;
    }

    input{
        height: 2.3em;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        opacity: 80%;
        padding: 10px;
        margin-top: .5em;
    }

    .inp-nome{
        width: 36.2em;
    }

    .textarea{
        margin-top: 1.5em;
    }

    textarea {
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        opacity: 80%;
    }

    .descricao{
        max-width: 36.2em;
        max-height: 11em;
        min-width: 36.2em;
        min-height: 11em;
        margin-top: .5em;
    }

    .div-botoes{
        display: flex;
        justify-content: flex-end;
        margin-top: 2em;
    }

    button{
        display: flex;
        align-items: center;
        font-family: 'bold';
        margin-left: 2em;
        padding: 5px;
        border-radius: 5px;
        background-color: #D9D9D9;
        opacity: 80%;
    }
    button:hover{
        cursor: pointer;
        opacity: 100%;
    }

    .div-botoes img{
        opacity: 60%;
        padding-right: 10px;
    }

    .gerar-carteirinha:hover{
        cursor: no-drop;
        opacity: 80%;
    }
}