.page-consulta {
    display: flex;
    flex-direction: row;

    .info-consulta{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F6FA;
        width: 100vw;
        padding: 2em
    }

    .pagina-consulta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linha{
        border: 3px solid #4441DB;
        border-radius: 10px;
        margin-right: .5em;
    }

    .titulo{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        margin-top: 4em;
        width: 100%;

        h2{
            font-family: 'bold';
            color: #6d6d6d;
        }
    }

    .tabela {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1024px;
        overflow-x: auto;
        padding-top: 1.5em;
    }

    table {
        border-collapse: collapse;
    }

    th {
        font-family: 'bold';
        background-color: #4441DB;
        color: #fff;
        padding: 10px 35px;
        text-align: left;
        text-transform: uppercase;
    }
    td {
        font-family: 'regular';
        padding: 10px 35px;
    }

    tr:nth-child(odd) td {
        background-color: #fff;
    }
    tr:nth-child(even) td {
        background-color: #f1f1f1;
    }

    tr td:nth-last-child(1), tr td:nth-last-child(2) {
        padding: 0px;
        text-align: center;
    }

    td img{
        opacity: 20%;
    }

    td img:hover{
        opacity: 60%;
    }

    tr td:nth-last-child(1) span, tr td:nth-last-child(2) span{
        font-weight: 700;
        font-size: 3px;
        cursor: pointer;
        transition: .6s;
        padding: 5px 3px;
        border-radius: 3px;
    }
    
}