*{
    box-sizing: border-box;
    margin: 0;
}

.componente-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2C248A;
    min-height: 100vh;
    max-width: 18vw;

    .opcoes{
        margin-top: 3em;
    }

    .opcao img{
        width: 1.5em;
    }

    .opcao-dois img{
        width: 2em;
    }

    .opcao, .opcao-dois{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'medio';
        color: #fff;
        padding: 1.2em;
        width: 18vw;
    }
    .opcao:hover, .opcao-dois:hover{
        background-color: #20187a;
        cursor: pointer;
    }

    .opcao p, .opcao-dois p{
        font-size: 18px;
        margin-left: 1em;
        width: 10vw;
    }

}