*{
    box-sizing: border-box;
    margin: 0;
}

.informacao-leitor{
    display: flex;
    flex-direction: row;

    .info-leitor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F5F6FA;
        width: 100vw;
    }

     .titulo{
        display: flex;
        flex-direction: row;

        h2{
            font-family: 'bold';
            color: #6d6d6d;
        }
    }

    .linha{
        border: 3px solid #4441DB;
        border-radius: 10px;
        margin-right: .5em;
    }

    .fundo-leitor{
        display: flex;
        flex-direction: row;
        padding: 3em 4em;
        margin-top: 1em;
        background-color: #ffffff;
        background-color: #ffffff;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 15px -8px rgb(120, 120, 120);
        -moz-box-shadow: 0px 2px 15px -8px rgb(120, 120, 120);
        box-shadow: 0px 2px 15px -8px rgb(120, 120, 120);
    }

    .info-leitor p{
        font-family: 'medio';
    }

    .p-input{
        margin-top: 1em;
    }
    
    .col-dois{
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
    }

    .div-col-dois{
        margin-left: 1em;
    }

    select{
        width: 10em;
        height: 2.3em;
        border: 1px solid #D9D9D9;
        opacity: 70%;
        margin-top: .5em;
    }

    .fundo-imagem{
        display: flex;
        align-items: center;
        border: 1px solid #D9D9D9;
        opacity: 80%;
        height: 15em;
        margin-top: 2em;
        cursor: pointer;
    }

    .fundo-imagem img{
        padding: 3em;
        opacity: 45%;
        width: 15em;
    }

    .fundo-info{
        margin-left: 3em;
    }

    input{
        height: 2.3em;
        border: 1px solid #D9D9D9;
        opacity: 80%;
        padding: 10px;
        margin-top: .5em;
        width: 16.9em;
    }

    .inp-nome{
        width: 36.2em;
    }

    .textarea{
        margin-top: 1.5em;
    }

    textarea {
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border: 1px solid #D9D9D9;
        opacity: 80%;
    }

    .descricao{
        max-width: 36.2em;
        max-height: 6em;
        min-width: 36.2em;
        min-height: 6em;
        margin-top: .5em;
    }

    textarea:focus, input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
}