*{
    box-sizing: border-box;
    margin: 0;
}

.novo-emprestimo{
    display: flex;
    flex-direction: row;

    .info-novo-emprestimo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F5F6FA;
        width: 100vw;
    }

    .titulo{
        display: flex;
        flex-direction: row;

        h2{
            font-family: 'bold';
            color: #6d6d6d;
        }
    }

    .fundo-novo-emprestimo{
        display: flex;
        flex-direction: row;
        padding: 3em;
        margin-top: 1em;
        background-color: #ffffff;
        background-color: #ffffff;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 15px -8px rgb(120, 120, 120);
        -moz-box-shadow: 0px 2px 15px -8px rgb(120, 120, 120);
        box-shadow: 0px 2px 15px -8px rgb(120, 120, 120);
    }

    .col-dois{
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
    }

    .div-col-dois{
        margin-left: 1em;
    }

    select{
        width: 10em;
        height: 2.3em;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        opacity: 70%;
        margin-top: .5em;
    }

    .linha{
        border: 3px solid #4441DB;
        border-radius: 10px;
        margin-right: .5em;
    }

    .linha-dois{
        border: 2px solid #4441DB;
        border-radius: 10px;
        margin: 0em 3em;
    }


    .info-novo-emprestimo p{
        font-family: 'medio';
    }

    input{
        height: 2.3em;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        opacity: 80%;
        padding: 10px;
        margin-top: .5em;
    }

    .inp-nome{
        width: 36.2em;
    }

    .inp-autor{
        width: 25em;
    }

    .text-inp{
        display: flex;
        flex-direction: row;
    }

    .quantidade{
        margin-left: 1em;
        margin-top: 1.5em;
    }

    .quantidade input{
        width: 8em;
        padding: 10px;
    }

    .data{
        margin-left: 1em;
    }

    .div-data{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }

    .div-botoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.3em;
    }

    button{
        display: flex;
        align-items: center;
        //font-family: 'bold';
        //text-transform: uppercase;
        //margin-right: 2em;
       // padding: 5px;
       // border-radius: 5px;
        //background-color: #D9D9D9;
        //opacity: 80%;
        //width: 7em;
    }
    button:hover{
        cursor: pointer;
        opacity: 100%;
    }

    .div-botoes img{
        opacity: 60%;
        padding-right: 10px;
    }

    .botao-salvar{
        display: flex;
        align-items: center;
        font-family: 'bold';
        color: #ffffff;
        margin-right: 2em;
        padding: 5px 8px;
        border-radius: 5px;
        border: none;
        background-color: #2C248A;
        opacity: 90%;
    }
}