@font-face {
	font-family: "regular";
	src: url("../../public/assets/fonts/ARIALregular.TTF");
}

@font-face {
	font-family: "medio";
	src: url("../../public/assets/fonts/Arialmedio.ttf");
}

@font-face {
	font-family: "claro";
	src: url("../../public/assets/fonts/ARIALclaro.TTF");
}

@font-face {
	font-family: "bold";
	src: url("../../public/assets/fonts/ARIALbold\ 1.TTF");
}

* {
    margin: 0px;
    box-sizing: border-box;
}